
p{
    color:rgb(31, 2, 2);
    background-color: rgb(125, 213, 209);
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{background-color: aquamarine;
text-align: center;
font-weight: 900;
text-decoration: underline;
letter-spacing: 6px;
font-size:38px;
font-family:cursive ;


}
li{background-color: aquamarine;

}
a{background-color: aquamarine;
text-decoration-style: dotted;
}
html{
    background-color: rgb(152, 226, 226);
line-height: 100%;
}